/* All */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-primary: #15438a;
    --color-secundary: #fdfdfd;
    --text-color-primary: #3d3d3d;
    --text-color-secondary: #ffffff;
    --bg-color: #9b0202;
    --bg-color-primary: #ff0400;
    --br-color-smoke: rgb(214, 212, 212);
    --bg-color-gray: #383838;
}

body {
    background: rgb(40, 40, 41);
    background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(52, 52, 52) 50%,rgb(71, 71, 71) 100%);
}

button {
    background-color: var(--color-secundary);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding: .3rem .6rem;
    font-size: .7rem;
    cursor: pointer;
    align-items: center;
    transition: .3s;
    border-radius: 4px;
}

button:hover {
    background-color: var(--color-primary);
    color: var(--color-secundary);
}

button:hover > i {
    color: var(--color-secundary);
    margin: auto 0;
}

.finish-todo {
    background-color: var(--color-primary);
    border: none;
}

.finish-todo i {
    color: var(--color-secundary);
}

.finish-todo:hover {
    background-color: var(--color-secundary);
}

.finish-todo:hover > i {
    color: var(--color-primary);
}

.remove-todo {
    background-color: var(--bg-color);
    border: none;
}

.remove-todo:hover {
    background-color: var(--bg-color-primary);
}

.remove-todo i {
    color: var(--color-secundary);
}

button i {
    color: var(--color-primary);
    font-weight: bold;
    pointer-events: none;
}

input, select {
    padding: .2rem .4rem;
}


.hide {
    display: none;
}

/* todo header */
.todo-container {
    width: 100%;
    max-width: 450px;
    margin: 4rem auto;
    background-color: var(--br-color-smoke);
    color: var(--text-color-primary);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 2px 4px 15px rgba(10, 10, 10, .7);
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid var(--text-color-primary);
}

/* todo form */
#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid var(--text-color-primary);
}

#todo-form p,
#edit-form p {
    margin-bottom: .5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
    flex-direction: row;
}

.form-control input {
    margin-right: 0.3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

/* todo toolbar */
#toolbar {
    padding: 1rem;
    border-bottom: 1px solid var(--text-color-primary);
    display: flex;
}

#toolbar h4 {
    margin-bottom: .5rem;
}

#search {
    border-right: 1px solid var(--text-color-primary);
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: .3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

/* Todo List */

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--text-color-primary);
    margin-top: 2px;
}

.todo h3 {
    flex: 1;
    font-size: 1rem;
    font-weight: 500;
}

.todo button {
    margin-left: .3rem;
}

.done {
    background-color: var(--bg-color-gray);
    border-radius: 5px;
}

.done h3 {
    color: var(--text-color-secondary);
    text-decoration: line-through;
    font-style: italic;
}